<%= form_for @calendar do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :trackable %>
    <%= f.check_box :trackable %>
  </div>
  <div>
    <%= f.label :ical_link %>
    <%= f.file_field :ical_link %>
  </div>
  <%= f.submit %>
<% end %>
